@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");
$boar-bg-color: #0079bf;
$gap: 10px;
$app-bar-bg-color: #0067a3;
$list-bg-column: #ebecf0;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-boder-height: 10px;
$common-element-bg: rgba(255, 255, 255 , 0.24);
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3rem;
  font-family: "Source Sans Pro", sans-serif;
}

.trello-lemondev-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3rem;
  background-color: $boar-bg-color;
  .navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;
    &.app {
      background: $app-bar-bg-color;
      font-size: 1.5rem;
    }
    &.board {
      background: $boar-bg-color;
      font-size: 1.1rem;
    }
  }
  .board-columns {
    display: flex;
    margin: 0 $gap $gap;
    overflow-x: auto;
    &::-webkit-scrollbar { 
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal { 
      height: 11px;
    }
    &::-webkit-scrollbar-thumb:horizontal { 
      background-color: $common-element-bg;
      border-radius: 8px;
    }
    .column {
      flex: 0 0 auto;
      width: 18.75rem;
      height: calc(100% - #{$gap});
      &:not(:first-child) { 
        margin-left: $gap;
      }
      > * {
        background-color: $list-bg-column;
        color: #363636;
        padding: 0 8px;
      }
      header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-weight: bold;
        border-top-left-radius: $column-boder-height;
        border-top-right-radius: $column-boder-height;
      }
      footer {
        padding-left: 15px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        font-weight: bold;
        border-bottom-left-radius: $column-boder-height;
        border-bottom-right-radius: $column-boder-height;
      }
      ul {
        list-style-type: none;
        margin: 0;
        max-height: calc(
          100% - #{$column-footer-height} - #{$column-header-height}
        );
        overflow-y: auto;
        &::-webkit-scrollbar { 
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical { 
          width: 11px;
        }
        &::-webkit-scrollbar-thumb:vertical { 
          background-color: darken($list-bg-column, 15);
          border-right: 5px solid $list-bg-column;
        }
        li {
          background-color: white;
          padding: $gap;
          &:not(:last-child) {
            margin-bottom: $gap;
          }
          border-radius: $gap;
          box-shadow: 0 1px 1px rgba(0, 0, 0 , 0.1);
          img {
            display: block;
            width: calc(100% + 2 * #{$gap});
            // margin: -10px 0 10px -10px;
            border-top-left-radius: $column-boder-height;
            border-top-right-radius: $column-boder-height;
            margin-bottom: $gap;
          }
        }
      }
    }
  }
}
